{% extends 'base.html.twig' %}
{% block title %}Administration des jeux!{% endblock %}

{% block body %}

<div class="container">

  <div class="mb-4">
            <a href="{{ path('app_home') }}" class="default-link">Accueil</a>
        </div>

    <div class="row">
    {{ form_start(formAdminAddGame) }}
        {{ form_end(formAdminAddGame) }}

    </div>

</div>
{% endblock %}
